{{define "subject"}} Добро пожаловать {{end}}

{{define "plainBody"}}
Привет.

Спасибо что присоединились к нашему серверу

Для дальнейшего использования подготовлен ваш ID {{.userID}}

Пожалуйста отправьте запрос 'PUT /v1/users/activated' со следующим содержимым чтобы активировать ваш аккаунт:

{"token": "{{.activationToken}}"}

Обратите внимание, что это одноразовый токен и истекает черех 3 дня.

Всего!
{{end}}

{{define "htmlBody"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Привет.</p>
    <p>Спасибо что присоединились к нашему серверу</p>
    <p>Для дальнейшего использования подготовлен ваш ID {{.userID}}</p>
    <p>Пожалуйста отправьте запрос 'PUT /v1/users/activated' со следующим содержимым чтобы активировать ваш аккаунт:</p>
    <pre><code>
        {"token": "{{.activationToken}}"}
    </code></pre>
    <p>Обратите внимание, что это одноразовый токен и истекает черех 3 дня.</p>
    <p>Всего!</p>
</body>
</html>
{{end}}